.main {
  //  это для самой верхнего хедера
  .head {
    background-image: url(../../../assets/header.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card_cont {
    padding-block: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 88%;
    margin: 0 auto;
  }
  .about {
    width: 90%;
    margin: 20px auto;
    padding-block: 100px;

    .title {
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;

      h3 {
        color: #152547;
        font-size: 41px;
        font-family: "FuturaPT", Arial, sans-serif;
        line-height: 1.4;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        background-position: center center;
        border-color: transparent;
        border-style: solid;

        span {
          color: white;
          background-color: #9721c2;
          display: inline-block;
          padding: 5px;
          border-radius: 20px;
        }
      }
      p {
        color: #152547;
        font-size: 28px;
        font-family: "FuturaPT", Arial, sans-serif;
        line-height: 1.4;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: lowercase;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
      }
    }
    .list_cont {
      width: 85%;
      margin: 0 auto;

      h5 {
        text-align: center;
        color: #152547;
        font-size: 33px;
        font-family: "FuturaPT", Arial, sans-serif;
        line-height: 1.55;
        font-weight: 700;
        text-transform: uppercase;
        background-position: center center;
        border-color: transparent;
        border-style: solid;
        margin-bottom: 20px;
      }

      > div {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
        padding: 20px 0;
        p {
          color: #000000;
          font-size: 28px;
          font-family: "FuturaPT", Arial, sans-serif;
          line-height: 1;
          font-weight: 400;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
        }
      }
    }
  }

  // это для карточек 2 этапа
  .path {
    width: 100%;

    .header_path {
      width: 80%;
      margin: 0 auto;
      h3 {
        color: #152547;
        font-size: 41px;
        line-height: 1.35;
        font-weight: 600;
        text-transform: uppercase;
        margin: 20px 0;
        display: inline-block;
        padding: 20px 0;

        span {
          color: #9721c2;
          margin-right: 5px;
        }
      }

      h5 {
        margin: 20px 0;
        color: #152547;
        font-size: 32px;
        font-family: Arial, sans-serif;
        line-height: 1.35;
        font-weight: 600;
        text-transform: uppercase;

        span {
          color: #9721c2;
        }
      }
    }
    .Stage {
      width: 80%;
      margin: 20px auto;

      .Stage_button {
        border: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        background-color: #ffffff;

        .Stage_button_h6 {
          font-size: 22px;

          .violet {
            color: #9721c2;
            margin-right: 5px;
          }
        }
      }

      .Stage_div {
        cursor: pointer;
        background-color: #ffffff;
        border: none;
        width: 100%;
        transition: height 0.3s ease-in-out;
        height: 0px;
        overflow: hidden;
      }

      .Stage_div.expanded {
        height: 350px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
            }
          }

          p {
            font-size: 18px;
            letter-spacing: 1px;

            strong {
              margin-left: -15px;
            }
          }

          .bottom_text {
            h6 {
              font-size: 18px;
              margin: 5px 0;
              margin-left: -15px;
            }

            ul {
              padding-bottom: 20px;
              li {
                font-size: 18px;
                line-height: 1.3;
                color: #152547;
                font-weight: 400;
              }
            }
          }
        }
      }
      .Stage_div.expanded2 {
        height: 80px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
            }
          }

          p {
            font-size: 18px;
            letter-spacing: 1px;

            strong {
              margin-left: -15px;
            }
          }

          .bottom_text {
            h6 {
              font-size: 18px;
              margin: 5px 0;
              margin-left: -15px;
            }

            ul {
              padding-bottom: 20px;
              li {
                font-size: 18px;
                line-height: 1.3;
                color: #152547;
                font-weight: 400;
              }
            }
          }
        }
      }

      .Stage_div.expanded3 {
        height: 70px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;
        padding-bottom: 20px;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
            }
          }

          p {
            font-size: 18px;
            letter-spacing: 1px;

            strong {
              margin-left: -15px;
            }
          }

          .bottom_text {
            h6 {
              font-size: 18px;
              margin: 5px 0;
              margin-left: -15px;
            }

            ul {
              padding-bottom: 20px;
              li {
                font-size: 18px;
                line-height: 1.3;
                color: #152547;
                font-weight: 400;
              }
            }
          }
        }
      }

      .Stage_div.expanded4 {
        height: 250px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
        }
      }

      .Stage_div.expanded5 {
        height: 200px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
        }
      }

      .Stage_div.expanded6 {
        height: 120px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
        }
      }
      .Stage_div.expanded7 {
        height: 90px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
        }
      }
    }

    .Stage_icon {
      transition: transform 0.3s ease;
    }

    .Stage_icon.rotated {
      transform: rotate(45deg);
    }
    // это для 2 этапа заголовок
    .next {
      padding: 40px 0;
      h4 {
        width: 80%;
        color: #9721c2;
        font-size: 20px;
        font-family: "FuturaPT", Arial, sans-serif;
        line-height: 1.35;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 27px;
        margin: 20px auto;
      }
    }
    // это для текста между 2 и 3 этапом
    .after {
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      h6 {
        color: #9721c2;
        font-size: 20px;
        font-family: Arial, sans-serif;
        line-height: 1.35;
        font-weight: 600;
        text-transform: uppercase;
      }

      ul {
        margin-left: 15px;
        list-style-type: disc;
        li {
          color: #9721c2;
          font-size: 20px;
          font-family: Arial, sans-serif;
          line-height: 1.35;
          font-weight: 600;
          text-transform: uppercase;
        }
      }
    }
  }

  // это стили для карточек 3 этапа
  .path3 {
    width: 100%;
    .header_path3 {
      width: 80%;
      margin: 0 auto;
      h3 {
        color: #152547;
        font-size: 41px;
        line-height: 1.35;
        font-weight: 600;
        text-transform: uppercase;
        margin: 20px 0;
        display: inline-block;
        padding: 20px 0;

        span {
          color: #9721c2;
          margin-right: 5px;
        }
      }
    }
    .Stage {
      width: 80%;
      margin: 20px auto;

      .Stage_button {
        border: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        background-color: #ffffff;

        .Stage_button_h6 {
          font-size: 22px;

          .violet {
            color: #9721c2;
            margin-right: 5px;
          }
        }
      }
      .Stage_icon {
        transition: transform 0.3s ease;
      }

      .Stage_icon.rotated {
        transform: rotate(45deg);
      }
      .Stage_div {
        cursor: pointer;
        background-color: #ffffff;
        border: none;
        width: 100%;
        transition: height 0.3s ease-in-out;
        height: 0px;
        overflow: hidden;
      }
      .Stage_div.expanded9 {
        height: 320px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
          .bottom {
            margin-left: -15px;
            p {
              font-size: 18px;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
        }
      }
      .Stage_div.expanded10 {
        height: 170px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
          .bottom {
            margin-left: -15px;
            p {
              font-size: 18px;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
        }
      }
      .Stage_div.expanded11 {
        height: 140px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 90%;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;

            li {
              font-size: 18px;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
          .bottom {
            margin-left: -15px;
            p {
              font-size: 18px;
              color: #152547;
              font-weight: 400;
              padding: 3px 0;
            }
          }
        }
      }
    }
  }

  // этот текст идет после 3 этапа
  .text {
    width: 80%;
    margin: 40px auto;
    padding: 50px 0;

    p {
      color: #9721c2;
      font-size: 20px;
      font-family: Arial, sans-serif;
      line-height: 1.35;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  // здесь его конец

  .tools_cont {
    width: 80%;
    margin: 0 auto;
    background-image: url("../../../assets/BACKGROUND_.svg.png");
    background-position: right;
  }

  .tarif_cont {
    padding-top: 50px;
  }
}

@media (max-width: 960px) {
  .card_cont {
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .about {
    padding-bottom: 40px !important;
    .title {
      h3 {
        font-size: 36px;
        line-height: 50px;
      }

      p {
        font-size: 24px;
        line-height: 34px;
      }
    }

    .list_cont {
      h5 {
        font-size: 32px;
        opacity: 1;
      }

      > div {
        p {
          font-size: 22px;
        }
      }
    }
  }

  .path {
    .header_path {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 34px !important;
        text-align: center;
        margin: 10px 0;
      }

      h5 {
        font-size: 26px !important;
        text-align: center;
        margin: 10px 0;
      }
    }

    .Stage {
      margin: 10px 0;
    }

    .next {
      padding: 20px 0;

      h4 {
        font-size: 20px;
        text-align: center;
      }
    }

    .after {
      h6 {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .path3 {
    .header_path3 {
      > h3 {
        font-size: 38px !important;
        text-align: center;
      }
    }

    .Stage {
      margin: 10px 0;
    }
  }

  .text {
    padding: 20px 0 !important;
    p {
      line-height: 1.5;
      font-size: 18px;
    }
  }
}

@media (max-width: 410px) {
  .card_cont {
    padding: 15px 0;
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .about {
    padding-bottom: 20px !important;
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        font-size: 26px !important;
        line-height: 1.2;
        text-align: center;

        > span {
          padding: 3px;
        }
      }
      p {
        font-size: 22px;
        line-height: 1.2;
      }
    }

    .list_cont {
      h5 {
        font-size: 22px;
        opacity: 1;
      }

      > div {
        display: flex;
        align-items: flex-start;
        p {
          font-size: 18px !important;
          line-height: 20px;
        }
      }
    }
  }

  .path {
    .header_path {
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        font-size: 23px !important;
        text-align: left;
        margin: 10px auto;
      }

      h5 {
        font-size: 20px !important;
        text-align: left;
        margin: 10px 0;
        line-height: 1.2;
      }
    }

    .Stage {
      margin: 10px 0;
    }

    .next {
      padding: 20px 0;

      h4 {
        font-size: 20px;
        text-align: center;
      }
    }

    .after {
      h6 {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .path {
    .header_path3 {
      > h3 {
        font-size: 36px !important;
        text-align: center;
      }
    }

    .Stage {
      margin: 10px 0;

      .Stage_button {
        border: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        background-color: #ffffff;

        .Stage_button_h6 {
          font-size: 14px !important;
          font-weight: 600;

          .violet {
            color: #9721c2;
            margin-right: 5px;
          }
        }
      }

      .Stage_div.expanded {
        height: 550px !important;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: height 0.3s ease-in-out;

        > .inner_cont {
          width: 80% !important;
          margin: 0 auto;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          ul {
            list-style-type: disc;
            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
              font-size: 16px !important;
              padding: 5px 0;
              line-height: 1.3;
              color: #152547;
              font-weight: 400;
            }
          }

          p {
            font-size: 16px !important;
            letter-spacing: 1px;

            strong {
              margin-left: -15px;
            }
          }

          .bottom_text {
            h6 {
              font-size: 18px;
              margin: 5px 0;
              margin-left: -15px;
            }

            ul {
              padding-bottom: 20px;
              li {
                font-size: 18px;
                line-height: 1.3;
                color: #152547;
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    .next {
      h4 {
        font-size: 16px !important;
        line-height: 1.3 !important;
        text-align: left;
      }

      > .header_path {
        > h3 {
          font-size: 16px !important;
        }
      }

      .Stage {
        width: 80%;
        margin: 20px auto;

        .Stage_button {
          border: none;
          width: 100%;
          display: flex;

          padding: 20px 30px;
          background-color: #ffffff;

          .Stage_button_h6 {
            font-size: 16px;
          }
        }
        .Stage_icon {
          transition: transform 0.3s ease;
        }

        .Stage_icon.rotated {
          transform: rotate(45deg);
        }
        .Stage_div {
          cursor: pointer;
          background-color: #ffffff;
          border: none;
          width: 100%;
          transition: height 0.3s ease-in-out;
          height: 0px;
          overflow: hidden;
        }
        .Stage_div.expanded2 {
          height: 120px;
          display: flex;
          align-items: center;
          gap: 20px;
          transition: height 0.3s ease-in-out;

          > .inner_cont {
            width: 80%;
            margin: 0 auto;
            ul {
              li {
                font-size: 16px;
                line-height: 1.3;
                color: #152547;
                font-weight: 400;
                padding: 3px 0;
              }
            }
          }
        }
        .Stage_div.expanded3 {
          height: 120px;
          display: flex;
          align-items: center;
          gap: 20px;
          transition: height 0.3s ease-in-out;

          > .inner_cont {
            width: 80%;
            margin: 0 auto;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            ul {
              list-style-type: disc;

              li {
                font-size: 18px;
                line-height: 1.3;
                color: #152547;
                font-weight: 400;
                padding: 3px 0;
              }
            }
            .bottom {
              margin-left: -15px;
              p {
                font-size: 18px;
                color: #152547;
                font-weight: 400;
                padding: 3px 0;
              }
            }
          }
        }
        .Stage_div.expanded4 {
          height: 340px;
          display: flex;
          align-items: center;
          gap: 20px;
          transition: height 0.3s ease-in-out;

          > .inner_cont {
            width: 80%;
            margin: 0 auto;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            ul {
              list-style-type: disc;

              li {
                font-size: 16px;
                line-height: 1.3;
                color: #152547;
                font-weight: 400;
                padding: 5px 0;
              }
            }
            .bottom {
              margin-left: -15px;
              p {
                font-size: 18px;
                color: #152547;
                font-weight: 400;
                padding: 3px 0;
              }
            }
          }
        }
      }
    }
  }

  .text {
    padding: 20px 0 !important;
    p {
      line-height: 1.5;
      font-size: 18px;
    }
  }
}

// @media (max-width: 410px) {
//   // .main {
//   //   // .tarif_cards_cont {
//   //   //   width: 90% !important;
//   //   //   display: flex !important;
//   //   //   margin: 0 auto !important;
//   //   //   flex-direction: column !important;
//   //   //   align-items: center !important;
//   //   // }
//   // }
// }
