#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 340px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 10px;
    background: #fff;
    padding: 16px;
    width: 100% !important;
    height: 300px !important;
}


.swiper-slide > article > aside > p {
    text-align: justify;
    font-size: 18px;
}

.swiper-slide > article > h4 {
    margin-bottom: 10px;
    font-size: 22px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
