@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');


.Header {
  width: 1300px;
  height: 681px;

  border-radius: 60px;
  opacity: 0.85;
  background-color: #ffffff;
  background-position: center center;
  border-color: transparent;
  border-style: solid;

  .inner_cont {
      padding: 20px;
      width: 90%;
      margin: 0 auto;
      display: flex;
      overflow: hidden;
      align-items: center;

    .cont_left {
      padding: 20px;

      > aside {
        display: flex;
        gap: 20px;
        align-items: flex-end;
        margin: 10px 0;

        > div {
          display: flex;
          align-items: flex-start;

          flex-direction: column;

          h6 {
            font-size: 40px;
            font-family: "Marck Script", cursive;
            color: gold;
          }

          h4 {
            color: #152547;
            font-size: 22px;
            font-family: "FuturaPT", Arial, sans-serif;
            line-height: 1.55;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            font-weight: 700;
          }
        }
      }

      .text_cont {
        h2 {
          font-size: 65px;
          font-family: "FuturaPT", Arial, sans-serif;
          font-weight: 700;
          text-transform: uppercase;
          color: rgb(21, 37, 71);

          span {
            color: rgb(196, 64, 214);
          }
        }

        h4 {
          color: #152547;
          font-size: 30px;
          font-family: "FuturaPT", Arial, sans-serif;
          line-height: 1.55;
          font-weight: 700;
          text-transform: uppercase;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
          margin-bottom: 10px;

          span {
            color: rgb(196, 64, 214);
            margin: 0 8px;
          }
        }

        h5 {
          color: #152547;
          font-size: 28px;
          font-family: "FuturaPT", Arial, sans-serif;
          line-height: 40px;
          font-weight: 500;
          background-position: center center;
          border-color: transparent;
          border-style: solid;
        }
      }


    }


    > img {
      margin-right: -100px;
      margin-bottom: -100px;
      width: 480px;
    }
  }
}

@media (max-width: 1025px) {
  .Header {
    width: 950px;
    height: 520px !important;

    .inner_cont {
      padding: 20px;
      width: 90%;
      margin: 0 auto;
      display: flex;
      overflow: hidden;
      align-items: center;

      .cont_left {
        > aside {
          margin: 5px 0;

          div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h6 {
              font-size: 30px;
            }
          }
        }

        .text_cont {
          h2 {
            font-size: 20px !important;
          }

          h4, span {
            font-size: 18px !important;
          }

        }
      }


      > img {
        width: 400px !important;
      }

    }
  }

}

@media (max-width: 960px) {
  .Header {
    width: 760px;
    height: 820px !important;

    .inner_cont {
      width: 700px;
      height: 840px;
      justify-content: space-around;
      flex-direction: column;
      display: flex;
      align-items: center;
      gap: 20px;

      .cont_left {
        > aside {
          margin: 5px 0;

          div {
            display: flex;
            flex-direction: column;
            align-items: center;

            h6 {
              font-size: 25px;
            }
          }
        }

        .text_cont {
          h2 {
            font-size: 20px !important;
          }

          h4, span {
            font-size: 18px !important;
          }

        }
      }


      > img {
        width: 400px !important;
      }

    }
  }

}


@media (max-width: 920px) {
  .Header {
    width: 760px;
    height: 830px !important;

    .inner_cont {

      .cont_left {
        >aside> div {
          display: flex;
          flex-direction: column;
          align-items: flex-start !important;
        }
      }

      img {
        margin-top: -200px !important;
        width: 400px !important;
        height: 400px !important;
      }

    }
  }

}


@media (max-width: 430px) {
  .Header {
    width: 400px !important;
    height: 1000px !important;
    margin: 150px auto 50px;
    padding: 40px 0;

    .inner_cont {
      width: 100%;
      display: flex;
      padding-top: 46px;
      flex-direction: column;

      .cont_left {
        padding: 10px;

        > aside {
          display: flex;
          flex-direction: column !important;
          align-items: flex-start;
          gap: 5px;
          margin-bottom: 10px;
          padding: 10px;
        }
      }

      .text_cont {
        width: 100%;
        overflow: hidden;

        > h2 {
          font-size: 36px !important;
          margin: 10px 0;
        }

        > h4 {
          font-size: 16px !important;
          font-weight: 400;
        }

        > h5 {
          font-size: 20px !important;
          line-height: 1.2 !important;
        }
      }


      img {
        width: 380px;
        height: 400px !important;

        margin-right: 0 !important;
        margin-bottom: -100px;

      }
    }
  }
}


@media (max-width: 380px) {
  .Header {
    width: 400px !important;
    height: 1000px !important;
    margin: 150px auto 50px;
    padding: 100px 0;

    .inner_cont {
      width: 100%;
      display: flex;
      padding-top: 46px;
      flex-direction: column;

      .cont_left {
        padding: 10px;

        > aside {
          display: flex;
          flex-direction: column !important;
          align-items: flex-start;
          gap: 5px;
          margin-bottom: 10px;
          padding: 10px;
        }
      }

      .text_cont {
        width: 100%;
        overflow: hidden;

        > h2 {
          font-size: 36px !important;
          margin: 10px 0;
        }

        > h4 {
          font-size: 16px !important;
          font-weight: 400;
        }

        > h5 {
          font-size: 20px !important;
          line-height: 1.2 !important;
        }
      }


      img {
        width: 380px;
        height: 400px !important;

        margin-right: 0 !important;
        margin-bottom: -100px;

      }
    }
  }
}


